:root{
--lwt-light: #ffffff;
--lwt-grey: #e5e5e5;
--lwt-grey-transparent: #e5e5e565;
--lwt-primary: #1b72e8;
--lwt-secondary: #051e34;
--lwt-alarm: #ff8f00;
--lwt-alert: #dc3545;
--lwt-pending: #ffc107;
--lwt-success: #198754;
}

.bg_grey{
    background-color: var(--lwt-grey);
}

.text_white{
    color: var(--lwt-light);
}

/* #region Header */

#app_header{
    background-color: var(--lwt-light);
    height: 70px;
}

.alarm:hover{
    color: var(--lwt-alarm);
}

.dropdown-item:hover{
    background-color: var(--lwt-secondary);
    color: var(--lwt-light);
}

/* #endregion Header */

/* #region Wrapper */

#wrapper{
    height: calc(100vh - 70px);
}

/* #endregion Wrapper */

/* #region Aside */

#aside{
    background-color: var(--lwt-secondary);
    background-image: url(/assets/img/sidebar-bg.png);
    background-size: cover;
}

aside li{
    transition: all 0.4s;
}

aside li:hover{
  background-color: var(--lwt-grey-transparent);
  border-radius: 5px;
  cursor: pointer;
}

aside li:hover a{
    color: var(--lwt-secondary);
}

/* #endregion Aside */

/* #region Main */



/* #endregion Main */

/* #region Responsive */


/* #endregion Responsive */

@media screen and (min-width: 1200px) {
    #aside{
        width: 150px;
    }
}