:root {
    --lwt-light: #ffffff;
    --lwt-grey: #e5e5e5;
    --lwt-grey-transparent: #e5e5e565;
    --lwt-primary: #1b72e8;
    --lwt-secondary: #051e34;
    --lwt-blue: #165bba;
    --lwt-alarm: #ff8f00;
    --lwt-alert: #dc3545;
    --lwt-pending: #ffc107;
    --lwt-success: #198754;
    --lwt-code: #f26551;
}

.bg_grey {
    background-color: var(--lwt-grey);
}

.bg_secondary {
    background-color: var(--lwt-secondary);
}

.bg_blue {
    background-color: var(--lwt-blue);
}

.text_white {
    color: var(--lwt-light);
}

.w50 {
    width: 50% !important;
}

.f_size12{
    font-size: 12px;
}

/* #region Header */

#app_header {
    position: relative;
    background-color: var(--lwt-light);
    height: 70px;
    box-shadow: 0 0 5px 0 var(--lwt-secondary);
}

.alarm:hover {
    color: var(--lwt-alarm);
}

.dropdown-item:hover {
    background-color: var(--lwt-secondary);
    color: var(--lwt-light);
}

.menu i {
    transition: all 0.2s;
}

.menu i:hover {
    color: var(--lwt-primary);
}

/* #endregion Header */

/* #region Wrapper */

#wrapper {
    height: calc(100vh - 70px);
}

/* #endregion Wrapper */

/* #region Aside */

#aside {
    background-color: var(--lwt-secondary);
    background-image: url(/assets/img/sidebar-bg.png);
    background-size: cover;
}

aside li {
    transition: all 0.2s;
}

aside li:hover {
    background-color: var(--lwt-grey-transparent);
    border-radius: 7px;
    cursor: pointer;
}

aside li:hover a {
    color: var(--lwt-secondary);
}

aside li:hover i {
    animation: mirror 2s linear infinite;
}

@keyframes mirror {
    0% {
        transform: rotateY(0deg);
    }

    95% {
        transform: rotateY(360deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}


/* #endregion Aside */

/* #region Main */

#app_main {
    width: 100%;
}

#main_top {
    background-color: var(--lwt-primary);
}

.rounded-pill{
    cursor: pointer;
}

.offcanvas_btn{
    display: flex;
    justify-content: center;
    width: 40px;
    aspect-ratio: 1 / 1;
    font-size: 1.5rem;
    border: 1px solid var(--lwt-light);
    border-radius: 5px;
    transition: all 0.5s;
}

.offcanvas_btn:hover{
    color: var(--lwt-primary);
    background-color: var(--lwt-light);
    border-radius: 25px;
}

.italic{
    transition: all 0.5s;
    cursor: pointer;
}
.italic:hover{
    font-style: italic;
    color: var(--lwt-secondary);
    box-shadow: 0 0 15px 0 var(--lwt-secondary);
    border-radius: 15px;
    padding: 0 12px;
    background-color: var(--lwt-grey-transparent);
}

.form-check-input:checked {
    background-color: var(--lwt-secondary);
    border-color: var(--lwt-primary);
}

.code_btn{
    background-color: var(--lwt-code);
    color: var(--lwt-light);
    border-radius: 25px;
    width: 25px;
    aspect-ratio: 1/1;
    line-height: 25px;
    text-align: center;
    margin-right: 5px;
}

td{
    vertical-align: middle;
}
/* #endregion Main */

/* #region Responsive */


/* #endregion Responsive */

@media screen and (min-width: 1199.99px) {
    #aside {
        width: 180px;
    }
    
    .w100{
        width: 100% !important;
    }
}